* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #fff;
  --text-color: #323238;
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  display: grid;
  min-height: 100vh;
}
main {
  display: grid;
  justify-self: center;
  align-self: center;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 10rem;
}

button {
  border: none;
  background-color: transparent;

  cursor: pointer;
}
.hide {
  display: none;
}

.time {
  display: flex;
  font-size: clamp(13.6rem, 5rem + 10vw, 3rem);
  margin-bottom: 1.7rem;
}
.controls button svg {
  width: clamp(4.4rem, 6rem + 10vw, 3rem);
}
#menu button svg {
  width: clamp(3.2rem, 20rem + 15vw, 15rem);
}
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

#menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}
